.specstory/*
.sql
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.json
*.sh
# Test binary, build with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE

*.log
*.lp
*.gz
*.yml
*.yaml
*.toml
*.zip
upload
settings
backup
error
output
log


gin-bin
gin.log
.DS_Store
main

#ide setting
.idea
*.csv
.vscode
*.conf
bimap-ipoc
conf/config.yaml
202502
grafana
ChatGPT*
custom.yaml