<!-- components/app-header/app-header.html -->
<link rel="stylesheet" href="components/app-header/app-header.css">
<script type="module" src="components/app-header/app-header.js"></script>

<header class="app-header">
  <md-icon-button id="menuButton">
    <md-icon>menu</md-icon>
  </md-icon-button>
  <div class="title">ViOT 控制台</div>
  <div class="search-container">
    <md-outlined-text-field label="搜尋 PDU" type="search">
      <md-icon slot="leading-icon">search</md-icon>
    </md-outlined-text-field>
  </div>
</header>