<md-navigation-rail id="navRail" class="hidden">
    <a href="/pages/pdu-deploy.html">
      <md-navigation-rail-item>
        <span class="material-symbols-outlined">settings</span>
        <div slot="label">Deploy</div>
      </md-navigation-rail-item>
    </a>
    <a href="/pages/page1.html">
      <md-navigation-rail-item>
        <span class="material-symbols-outlined">settings</span>
        <div slot="label">Page1</div>
      </md-navigation-rail-item>
    </a>
    <a href="/pages/page2.html">
      <md-navigation-rail-item>
        <span class="material-symbols-outlined">settings</span>
        <div slot="label">Page2</div>
      </md-navigation-rail-item>
    </a>
    <a href="/pages/page3.html">
      <md-navigation-rail-item>
        <span class="material-symbols-outlined">settings</span>
        <div slot="label">Page3</div>
      </md-navigation-rail-item>
    </a>
  </md-navigation-rail>
  